@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.layout{
    width: 375px
}

.container{
    font-family: "Poppins", sans-serif;
    color: hsl(234, 12%, 34%);;
}

.title > span{
    font-weight: normal;
}
main{
    text-align: center;
}

section{
    box-shadow: 5px 5px 15px gray;
    border-radius: 10px;
    padding: 25px;
    margin: 10px auto;
}

.alinear-img{
text-align: right;
padding-right: 25px;
}

.supervisor{
    border-top: 3px solid hsl(180, 62%, 55%);
}

.team-builder{
    border-top: 3px solid hsl(0, 78%, 62%);
}
.karma{
    border-top: 3px solid hsl(34, 97%, 64%);
}
.calculator{
    border-top: 3px solid hsl(212, 86%, 64%);
}